In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/d546eaee765268bf2f487608c537c05e22e4b221/iris.csv')

In [2]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

#### Get Average of Petal Length

In [7]:
df['petal_length'].mean()

3.758666666666666

#### Create new column "Petal Area"  and calculatue petals area (petal width * petal length)

In [12]:
df["petal_area"] = df.petal_width*df.petal_length

In [13]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  petal_area
0           5.1          3.5           1.4          0.2  setosa        0.28
1           4.9          3.0           1.4          0.2  setosa        0.28
2           4.7          3.2           1.3          0.2  setosa        0.26
3           4.6          3.1           1.5          0.2  setosa        0.30
4           5.0          3.6           1.4          0.2  setosa        0.28

#### Capitalize all species in species column

In [15]:
df.species = df.species.str.capitalize()

In [16]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  petal_area
0           5.1          3.5           1.4          0.2  Setosa        0.28
1           4.9          3.0           1.4          0.2  Setosa        0.28
2           4.7          3.2           1.3          0.2  Setosa        0.26
3           4.6          3.1           1.5          0.2  Setosa        0.30
4           5.0          3.6           1.4          0.2  Setosa        0.28

#### Get the Average Sepal Length, Sepal Width, Petal Length, Petal Width of each species

In [17]:
df.groupby(df.species).mean()

            sepal_length  sepal_width  petal_length  petal_width  petal_area
species
Setosa             5.006        3.418         1.464        0.244      0.3628
Versicolor         5.936        2.770         4.260        1.326      5.7204
Virginica          6.588        2.974         5.552        2.026     11.2962

In [20]:
df.groupby(df.species)['sepal_width'].mean()

species
Setosa        3.418
Versicolor    2.770
Virginica     2.974
Name: sepal_width, dtype: float64