In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
import glob
files = glob.glob("*.csv")

In [3]:
data = [pd.read_csv(file, encoding = 'ISO-8859-1') for file in files]

In [4]:
def clean_data(df):
    # 'Remove existing header with unnames'
    df=df.rename(columns=df.iloc[0]).drop(df.index[0])
    # 'Renames country in column 1 as country'
    df.columns = df.columns.fillna('Country')
    df_2015 = df[df.Year == '2015']
    # 'Reformat Value from string to flue for computation'
    df_2015.Value.replace(to_replace = ',', value= '_', regex = True, inplace = True) 
    df_2015.Value = df_2015.Value.astype(dtype = 'float64')
    # 'Return dataframe with Series entries as columns'
    df_pop = pd.pivot_table(df_2015, columns = 'Series', index =['Country', 'Year'])
    return df_pop

In [247]:
clean_frames = []
for df in data:
    clean_frames.append(clean_data(df))

In [189]:
df = data[0]
# for i in data[1:]: 
#     df = pd.merge(df, i)

In [248]:
# Select predictors within each df by dropping or selecting specific columns; frames commented already have values desired
idx = pd.IndexSlice
#clean_frames[0]
clean_frames[1].drop(columns=['GDP in constant 2010 prices (millions of US dollars)', 'GDP in current prices (millions of US dollars)'], axis=1, level=1, inplace = True)
clean_frames[2]= clean_frames[2].loc[:,idx[:,'Assault rate per 100,000 population']]
clean_frames[3]= clean_frames[3].loc[:,idx[:,'Asylum seekers, including pending cases (number)']]
#clean_frames[4]
clean_frames[5] = clean_frames[5].loc[:,idx[:,'Unemployment rate - Total']]
clean_frames[6] = clean_frames[6].loc[:,idx[:,'Net official development assistance to developing countries and multilateral organizations (millions of US$)']]
clean_frames[7].drop(columns=['Infant mortality for both sexes (per 1,000 live births)',
                              'Life expectancy at birth for females (years)',
                              'Life expectancy at birth for males (years)',
                              'Maternal mortality ratio (deaths per 100,000 population)',
                              'Total fertility rate (children per women)'], axis=1, level=1, inplace = True)
clean_frames[8]=clean_frames[8].loc[:,idx[:,'Public expenditure on education (% of GDP)']]
#clean_frames[9]

In [251]:
clean_frames[0].Value.reset_index()

Series,Country,Year,Consumer price index: Food,Consumer price index: General
0,Afghanistan,2015,100.8,132.1
1,Albania,2015,118.8,111.4
2,Algeria,2015,131.3,126.7
3,Andorra,2015,108.2,103.3
4,Angola,2015,167.3,161.1
5,Anguilla,2015,111.4,105.1
6,Antigua and Barbuda,2015,NaN,110.3
7,Armenia,2015,127.1,124.8
8,Aruba,2015,111.9,103.4
9,Australia,2015,107.6,112.0
10,Austria,2015,114.4,110.7
11,Azerbaijan,2015,119.6,117.7
12,Bahamas,2015,106.5,109.6
13,Bahrain,2015,114.5,110.6
14,Bangladesh,2015,NaN,144.5
15,Barbados,2015,200.7,167.6
16,Belarus,2015,389.9,387.0
17,Belgium,2015,110.4,108.6
18,Belize,2015,104.8,103.8
19,Benin,2015,113.0,109.8
20,Bhutan,2015,121.5,146.2
21,Bolivia (Plurin. State of),2015,145.8,133.7
22,Bosnia and Herzegovina,2015,104.1,103.7
23,Botswana,2015,126.9,132.9
24,Brazil,2015,154.4,138.4
25,Brunei Darussalam,2015,100.7,100.0
26,Bulgaria,2015,112.5,106.6
27,Burkina Faso,2015,NaN,108.0
28,Burundi,2015,147.1,154.0
29,Cabo Verde,2015,109.0,108.6
...,...,...,...,...
162,Spain,2015,108.2,106.5
163,Sri Lanka,2015,110.7,109.5
164,State of Palestine,2015,107.8,111.0
165,Sudan,2015,501.5,349.8
166,Suriname,2015,141.8,139.2
167,Sweden,2015,107.9,103.6
168,Switzerland,2015,97.1,98.2
169,Syrian Arab Republic,2015,512.1,448.8
170,TFYR of Macedonia,2015,111.6,109.7
171,Tajikistan,2015,146.8,140.2
172,Thailand,2015,123.0,110.3
173,Timor-Leste,2015,105.7,142.8
174,Togo,2015,106.6,110.3
175,Tonga,2015,116.3,109.9
176,Trinidad and Tobago,2015,170.9,133.6
177,Tunisia,2015,135.0,126.7
178,Turkey,2015,157.3,146.1
179,Uganda,2015,160.7,150.8
180,Ukraine,2015,166.6,180.5
181,United Arab Emirates,2015,118.3,109.3
182,United Kingdom,2015,109.8,111.9
183,United Rep. of Tanzania,2015,96.6,158.0
184,United States of America,2015,112.2,108.7
185,Uruguay,2015,158.8,150.1
186,Vanuatu,2015,109.2,107.1
187,Venezuela (Boliv. Rep. of),2015,1487.2,772.0
188,Viet Nam,2015,NaN,145.8
189,Zambia,2015,151.2,144.0
190,Zimbabwe,2015,103.6,106.2
191,Åland Islands,2015,114.3,108.6

In [254]:
merged

In [255]:
merged = clean_frames[0].Value.reset_index()
for i in clean_frames[1:]: 
    merged = pd.merge(merged, i.Value.reset_index(), on='Country')

In [256]:
merged

Series,Country,Year_x,Consumer price index: Food,Consumer price index: General,Year_y,GDP per capita (US dollars),GDP real rates of growth (percent),Year_x,"Assault rate per 100,000 population",Year_y,...,Unemployment rate - Total,Year_x,Net official development assistance to developing countries and multilateral organizations (millions of US$),Year_y,Life expectancy at birth for both sexes (years),Population annual rate of increase (percent),Year_x,Public expenditure on education (% of GDP),Year_y,"Seats held by women in national parliament, as of February (%)"
0,Australia,2015,107.6,112.0,2015,52388.0,2.8,2015,284.7,2015,...,6.1,2015,3494.0,2015,82.3,1.5,2015,5.3218,2015,26.7
1,Austria,2015,114.4,110.7,2015,43994.0,1.1,2015,35.4,2015,...,5.7,2015,1324.0,2015,81.0,0.6,2015,5.4530,2015,30.6
2,Belgium,2015,110.4,108.6,2015,40383.0,1.7,2015,600.6,2015,...,8.5,2015,1904.0,2015,80.5,0.6,2015,6.5524,2015,39.3
3,Cyprus,2015,103.6,101.7,2015,23236.0,2.0,2015,12.1,2015,...,14.9,2015,18.0,2015,79.9,0.9,2015,6.3767,2015,12.5
4,Czechia,2015,118.4,107.5,2015,17619.0,5.3,2015,147.8,2015,...,5.1,2015,199.0,2015,78.2,0.1,2015,5.7889,2015,19.0
5,Estonia,2015,118.0,111.5,2015,17157.0,1.7,2015,7.5,2015,...,6.2,2015,34.0,2015,76.8,-0.3,2015,5.2159,2015,19.8
6,Finland,2015,115.7,108.8,2015,42405.0,0.1,2015,28.5,2015,...,9.4,2015,1288.0,2015,80.7,0.4,2015,7.0918,2015,42.5
7,France,2015,105.7,105.6,2015,36574.0,1.1,2015,375.7,2015,...,10.4,2015,9039.0,2015,81.9,0.4,2015,5.4642,2015,26.2
8,Germany,2015,112.3,106.9,2015,41384.0,1.7,2015,155.9,2015,...,4.6,2015,17940.0,2015,80.4,0.2,2015,4.8134,2015,36.5
9,Hungary,2015,116.6,111.4,2015,12579.0,3.5,2015,127.5,2015,...,6.8,2015,156.0,2015,75.4,-0.3,2015,4.5794,2015,10.1
10,Iceland,2015,119.6,117.8,2015,52519.0,4.5,2015,25.7,2015,...,4.0,2015,40.0,2015,82.2,0.6,2015,7.7111,2015,41.3
11,Ireland,2015,98.3,104.7,2015,61933.0,25.8,2015,74.8,2015,...,9.4,2015,718.0,2015,80.9,0.3,2015,3.7697,2015,16.3
12,Israel,2015,108.8,106.7,2015,37258.0,2.6,2015,NaN,2015,...,5.3,2015,233.0,2015,81.9,1.7,2015,5.8814,2015,22.5
13,Italy,2015,108.8,107.5,2015,30792.0,0.9,2015,107.6,2015,...,11.9,2015,4003.0,2015,82.3,-0.1,2015,4.0804,2015,31.0
14,Latvia,2015,110.7,107.6,2015,13536.0,3.0,2015,26.8,2015,...,9.9,2015,23.0,2015,73.9,-1.2,2015,5.3372,2015,18.0
15,Lithuania,2015,113.3,107.6,2015,14160.0,2.0,2015,7.3,2015,...,9.1,2015,48.0,2015,74.0,-1.3,2015,4.2181,2015,23.4
16,Malta,2015,NaN,108.2,2015,24703.0,9.5,2015,42.8,2015,...,5.4,2015,17.0,2015,80.3,0.5,2015,5.2675,2015,12.9
17,Netherlands,2015,107.4,109.3,2015,45179.0,2.3,2015,30.1,2015,...,6.9,2015,5726.0,2015,81.3,0.3,2015,5.3994,2015,37.3
18,Poland,2015,109.1,108.1,2015,12481.0,3.8,2015,18.2,2015,...,7.5,2015,441.0,2015,77.0,0.0,2015,4.8145,2015,24.1
19,Portugal,2015,107.0,107.0,2015,19141.0,1.8,2015,4.5,2015,...,12.4,2015,308.0,2015,80.5,-0.4,2015,4.8829,2015,31.3
20,Romania,2015,131.0,114.2,2015,8951.0,4.0,2015,1.5,2015,...,6.8,2015,158.0,2015,74.8,-0.6,2015,3.1065,2015,13.7
21,Russian Federation,2015,161.7,151.5,2015,9510.0,-2.5,2015,18.9,2015,...,5.6,2015,1161.0,2015,70.3,0.1,2015,3.8203,2015,13.6
22,Slovakia,2015,113.2,108.7,2015,16136.0,4.2,2015,34.9,2015,...,11.5,2015,85.0,2015,76.3,0.1,2015,4.6498,2015,18.7
23,Slovenia,2015,113.2,105.9,2015,20774.0,2.3,2015,74.2,2015,...,9.0,2015,63.0,2015,80.3,0.3,2015,4.9116,2015,36.7
24,Spain,2015,108.2,106.5,2015,25844.0,3.6,2015,62.6,2015,...,22.1,2015,1397.0,2015,82.5,-0.2,2015,4.2770,2015,41.1
25,Sweden,2015,107.9,103.6,2015,51018.0,4.5,2015,47.4,2015,...,7.4,2015,7089.0,2015,81.9,0.8,2015,7.5513,2015,43.6
26,Switzerland,2015,97.1,98.2,2015,81713.0,1.3,2015,7.4,2015,...,4.8,2015,3529.0,2015,82.7,1.2,2015,5.1047,2015,30.5

In [161]:
fragile_index = pd.read_excel(r'/Users/bridget/Desktop/FragileIndex-2015.xlsx')
fragile_target = fragile_index.loc[:, ['Country','Total']]

In [162]:
fragile_target.set_index('Country', inplace=True)

In [163]:
# clean_frames_list = []
# for i in range(0,10):
#     clean_frames_list.append(clean_frames[i])

In [164]:
len(fragile_target)

178

In [165]:
for i in clean_frames:
    print(len(i))

192
242
118
261
239
214
52
263
60
219

In [167]:
# master = pd.merge(fragile_target, clean_frames_list, on='Country')
for frame in clean_frames: 
    fragile_target = fragile_target.join(frame)

In [168]:
fragile_target

,,Total,"(Value, Consumer price index: Food)","(Value, Consumer price index: General)","(Value, GDP per capita (US dollars))","(Value, GDP real rates of growth (percent))","(Value, Assault rate per 100,000 population)","(Value, Asylum seekers, including pending cases (number))","(Value, Percentage of individuals using the internet)","(Value, Unemployment rate - Total)","(Value, Net official development assistance to developing countries and multilateral organizations (millions of US$))","(Value, Life expectancy at birth for both sexes (years))","(Value, Population annual rate of increase (percent))","(Value, Public expenditure on education (% of GDP))","(Value, Seats held by women in national parliament, as of February (%))"
Country,Year,,,,,,,,,,,,,,
Afghanistan,2015,107.9,100.8,132.1,611.0,-1.8,NaN,101.0,8.3,8.9,NaN,62.3,3.2,3.2420,27.7
Albania,2015,61.9,118.8,111.4,3895.0,2.2,5.8,501.0,63.3,17.1,NaN,77.7,-0.1,3.4380,20.7
Algeria,2015,79.6,131.3,126.7,4163.0,3.7,123.1,5892.0,38.2,11.2,NaN,75.3,2.0,NaN,31.6
Angola,2015,87.9,167.3,161.1,4171.0,0.9,NaN,30143.0,12.4,7.3,NaN,60.2,3.5,NaN,36.8
Antigua and Barbuda,2015,57.8,NaN,110.3,13602.0,4.0,NaN,10.0,70.0,NaN,NaN,75.8,1.1,NaN,11.1
Armenia,2015,69.7,127.1,124.8,3618.0,3.2,5.6,114.0,59.1,18.3,NaN,74.0,0.3,NaN,10.7
Australia,2015,24.3,107.6,112.0,52388.0,2.8,284.7,22837.0,84.6,6.1,3494.0,82.3,1.5,5.3218,26.7
Austria,2015,25.8,114.4,110.7,43994.0,1.1,35.4,30900.0,83.9,5.7,1324.0,81.0,0.6,5.4530,30.6
Azerbaijan,2015,77.3,119.6,117.7,5519.0,1.0,NaN,262.0,77.0,5.0,13.0,71.6,1.3,NaN,15.6
Bahamas,2015,51.5,106.5,109.6,29056.0,-3.1,NaN,19.0,78.0,12.0,NaN,75.1,1.4,NaN,13.2
Bahrain,2015,64.4,114.5,110.6,22689.0,2.9,NaN,78.0,93.5,1.2,NaN,76.4,2.0,2.6681,7.5
Bangladesh,2015,91.8,NaN,144.5,1206.0,6.6,NaN,11.0,14.4,4.4,NaN,71.2,1.2,NaN,20.0
Barbados,2015,49.3,200.7,167.6,15704.0,0.9,518.6,NaN,76.1,11.4,NaN,75.4,0.3,NaN,16.7
Belarus,2015,75.6,389.9,387.0,5952.0,-3.8,NaN,257.0,67.3,0.5,NaN,72.1,0.0,NaN,27.3
Belgium,2015,30.5,110.4,108.6,40383.0,1.7,600.6,9396.0,85.1,8.5,1904.0,80.5,0.6,6.5524,39.3
Belize,2015,65.3,104.8,103.8,4950.0,3.8,NaN,146.0,41.6,10.0,NaN,69.8,2.2,NaN,3.1
Benin,2015,78.8,113.0,109.8,799.0,6.5,NaN,84.0,11.3,2.6,NaN,59.9,2.8,4.3564,8.4
Bhutan,2015,78.7,121.5,146.2,2615.0,6.6,NaN,NaN,39.8,2.5,NaN,68.8,1.6,7.3897,8.5
Bosnia and Herzegovina,2015,77.4,104.1,103.7,4584.0,3.1,28.1,11.0,52.6,27.7,NaN,76.3,-1.0,NaN,21.4
Botswana,2015,62.8,126.9,132.9,6528.0,-1.7,NaN,248.0,37.3,17.0,NaN,62.9,1.8,NaN,9.5
Brazil,2015,62.7,154.4,138.4,8750.0,-3.8,NaN,17902.0,58.3,8.4,NaN,74.7,0.9,6.2411,9.0
Brunei Darussalam,2015,63.0,100.7,100.0,30968.0,-0.4,NaN,NaN,71.2,6.8,NaN,76.7,1.4,NaN,NaN
Bulgaria,2015,55.4,112.5,106.6,6994.0,3.5,35.1,7840.0,56.7,9.1,41.0,74.3,-0.6,NaN,20.4
Burkina Faso,2015,89.2,NaN,108.0,575.0,3.9,NaN,180.0,11.4,6.5,NaN,58.7,3.0,4.1661,13.3
Burundi,2015,98.0,147.1,154.0,276.0,-0.4,NaN,2733.0,4.9,1.6,NaN,56.1,3.0,NaN,30.5
Cambodia,2015,87.9,NaN,117.5,1163.0,7.0,NaN,33.0,22.3,0.2,NaN,67.6,1.6,NaN,20.3
Cameroon,2015,94.3,109.8,112.9,1353.0,5.7,21.0,7835.0,20.7,4.3,NaN,56.4,2.7,NaN,31.1
Canada,2015,25.6,114.2,108.7,43186.0,1.0,141.1,19951.0,88.5,6.9,4277.0,81.8,1.0,NaN,25.2
Central African Republic,2015,111.9,NaN,186.9,359.0,4.8,NaN,394.0,3.8,6.4,NaN,49.4,0.4,NaN,NaN
Chad,2015,108.4,NaN,115.9,838.0,3.8,NaN,2749.0,3.5,5.7,NaN,51.7,3.3,NaN,14.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Saudi Arabia,2015,71.6,118.6,114.4,20733.0,4.1,1.4,93.0,69.6,5.6,6758.0,74.0,2.8,NaN,19.9
Senegal,2015,82.9,110.9,105.3,1186.0,6.4,NaN,2956.0,21.7,4.9,NaN,65.7,3.0,NaN,42.7
Serbia,2015,73.8,133.2,133.0,5237.0,0.8,16.1,464.0,65.3,17.9,NaN,74.7,-0.4,4.0407,34.0
Seychelles,2015,62.1,116.7,120.9,14695.0,4.9,NaN,NaN,54.3,NaN,NaN,72.9,0.5,NaN,43.8
Sierra Leone,2015,91.9,137.8,134.1,587.0,-20.5,NaN,16.0,6.3,4.7,NaN,50.2,2.3,NaN,12.4
Singapore,2015,34.4,112.9,113.2,54937.0,2.2,8.5,NaN,79.0,1.7,NaN,82.3,1.7,NaN,25.3
Slovenia,2015,31.5,113.2,105.9,20774.0,2.3,74.2,43.0,73.1,9.0,63.0,80.3,0.3,4.9116,36.7
Solomon Islands,2015,85.9,552.5,125.3,1803.0,2.5,NaN,NaN,10.0,2.0,NaN,69.6,2.1,NaN,2.0
South Africa,2015,67.0,137.5,130.3,5743.0,1.3,NaN,798080.0,51.9,25.2,NaN,59.5,1.4,NaN,41.5
South Sudan,2015,114.5,349.4,331.9,1128.0,5.1,NaN,632.0,5.5,12.0,NaN,55.1,3.3,NaN,26.5
Spain,2015,40.9,108.2,106.5,25844.0,3.6,62.6,11020.0,78.7,22.1,1397.0,82.5,-0.2,4.2770,41.1
Sri Lanka,2015,90.7,110.7,109.5,3891.0,5.0,NaN,461.0,30.0,4.7,NaN,74.6,0.5,NaN,5.8
Sudan,2015,110.8,501.5,349.8,2150.0,3.0,NaN,11448.0,26.6,12.8,NaN,63.6,2.3,NaN,24.3
Suriname,2015,68.4,141.8,139.2,8725.0,-2.6,NaN,NaN,42.8,7.2,NaN,70.9,1.0,NaN,11.8
Sweden,2015,20.2,107.9,103.6,51018.0,4.5,47.4,56135.0,90.6,7.4,7089.0,81.9,0.8,7.5513,43.6
Switzerland,2015,22.3,97.1,98.2,81713.0,1.3,7.4,17085.0,87.5,4.8,3529.0,82.7,1.2,5.1047,30.5
Tajikistan,2015,83.4,146.8,140.2,919.0,6.0,NaN,79.0,19.0,10.4,NaN,70.4,2.2,5.2322,16.9
Thailand,2015,79.1,123.0,110.3,5846.0,3.0,19.9,8166.0,39.3,0.6,62.0,74.6,0.4,NaN,6.1
Timor-Leste,2015,90.5,105.7,142.8,2502.0,20.9,NaN,NaN,23.0,3.3,4.0,67.7,2.2,NaN,38.5
Togo,2015,86.8,106.6,110.3,563.0,5.7,NaN,687.0,7.1,1.8,NaN,59.1,2.6,NaN,17.6
Trinidad and Tobago,2015,58.7,170.9,133.6,17942.0,1.5,44.1,59.0,69.2,3.4,NaN,70.2,0.5,NaN,28.6
Tunisia,2015,75.7,135.0,126.7,3828.0,1.2,NaN,156.0,46.5,15.2,NaN,75.0,1.2,6.5986,31.3
Turkey,2015,74.6,157.3,146.1,10985.0,6.1,NaN,145335.0,53.7,10.2,3919.0,74.8,1.6,4.2919,14.4
Uganda,2015,97.0,160.7,150.8,625.0,5.7,NaN,38068.0,17.8,1.9,NaN,58.6,3.4,NaN,35.0
Ukraine,2015,76.3,166.6,180.5,2038.0,-9.8,NaN,6169.0,48.9,9.1,NaN,71.1,-0.5,NaN,11.8
United Arab Emirates,2015,46.2,118.3,109.3,39122.0,5.1,3.5,378.0,90.5,1.9,4381.0,76.7,2.0,NaN,17.5
United Kingdom,2015,33.4,109.8,111.9,44290.0,2.3,NaN,37829.0,92.0,5.3,18553.0,81.0,0.7,NaN,22.8
Uruguay,2015,36.4,158.8,150.1,15525.0,0.4,13.6,68.0,64.6,7.5,NaN,77.0,0.3,NaN,13.1
Zambia,2015,85.1,151.2,144.0,1319.0,2.9,NaN,2606.0,21.0,7.8,NaN,59.7,3.0,NaN,12.7
Zimbabwe,2015,100.0,103.6,106.2,1033.0,1.7,NaN,123.0,22.7,5.1,NaN,57.6,2.3,NaN,31.5

In [11]:
master = pd.merge(fragile_target, clean_frames[0], on='Country')
master = pd.merge(master, clean_frames[1], on='Country')
master = pd.merge(master, clean_frames[2], on='Country')
master = pd.merge(master, clean_frames[3], on='Country')
master = pd.merge(master, clean_frames[4], on='Country')
master = pd.merge(master, clean_frames[5], on='Country')
master = pd.merge(master, clean_frames[7], on='Country')
master = pd.merge(master, clean_frames[8], on='Country')
master = pd.merge(master, clean_frames[9], on='Country')

In [12]:
master.columns.unique()

Index([                                                                  'Country',
                                                                           'Total',
                                           ('Value', 'Consumer price index: Food'),
                                        ('Value', 'Consumer price index: General'),
                                          ('Value', 'GDP per capita (US dollars)'),
                                   ('Value', 'GDP real rates of growth (percent)'),
                                  ('Value', 'Assault rate per 100,000 population'),
                     ('Value', 'Asylum seekers, including pending cases (number)'),
                         ('Value', 'Percentage of individuals using the internet'),
                                            ('Value', 'Unemployment rate - Total'),
                      ('Value', 'Life expectancy at birth for both sexes (years)'),
                         ('Value', 'Population annual rate of increase (percent)'),
                           ('Value', 'Public expenditure on education (% of GDP)'),
       ('Value', 'Seats held by women in national parliament, as of February (%)')],
      dtype='object')

In [163]:
master.isna().sum()

Country                                                                    0
Total                                                                      0
(Value, Consumer price index: Food)                                        2
(Value, Consumer price index: General)                                     0
(Value, GDP per capita (US dollars))                                       0
(Value, GDP real rates of growth (percent))                                0
(Value, Assault rate per 100,000 population)                               5
(Value, Asylum seekers, including pending cases (number))                  1
(Value, Percentage of individuals using the internet)                      0
(Value, Unemployment rate - Total)                                         0
(Value, Life expectancy at birth for both sexes (years))                   0
(Value, Population annual rate of increase (percent))                      0
(Value, Public expenditure on education (% of GDP))                        0
(Value, Seats held by women in national parliament, as of February (%))    0
dtype: int64

In [13]:
master['Value', 'Assault rate per 100,000 population']

0       NaN
1      31.6
2       NaN
3       NaN
4       NaN
5      14.8
6       5.6
7      16.1
8      36.7
9      12.1
10      NaN
11      5.8
12      1.5
13    127.5
14     26.8
15      7.5
16    107.6
17      7.3
18     42.8
19     62.6
20     18.2
21    375.7
22     74.2
23    600.6
24      4.5
25    155.9
26     30.1
27     35.4
28     74.8
29    284.7
30     25.7
31      7.4
32     47.4
33     28.5
Name: (Value, Assault rate per 100,000 population), dtype: float64

In [14]:
len(master)

34

In [15]:
master.head()

,Country,Total,"(Value, Consumer price index: Food)","(Value, Consumer price index: General)","(Value, GDP per capita (US dollars))","(Value, GDP real rates of growth (percent))","(Value, Assault rate per 100,000 population)","(Value, Asylum seekers, including pending cases (number))","(Value, Percentage of individuals using the internet)","(Value, Unemployment rate - Total)","(Value, Life expectancy at birth for both sexes (years))","(Value, Population annual rate of increase (percent))","(Value, Public expenditure on education (% of GDP))","(Value, Seats held by women in national parliament, as of February (%))"
0,Ethiopia,97.5,222.9,211.4,632.0,10.4,NaN,2871.0,13.9,5.0,63.7,2.6,4.7379,27.8
1,Kenya,97.3,172.1,150.2,1355.0,5.7,31.6,40341.0,16.6,11.6,65.4,2.7,5.2713,19.7
2,Rwanda,90.2,132.2,122.1,712.0,8.9,NaN,253.0,18.0,1.2,65.2,2.5,3.7515,63.8
3,Burkina Faso,89.2,NaN,108.0,575.0,3.9,NaN,180.0,11.4,6.5,58.7,3.0,4.1661,13.3
4,Benin,78.8,113.0,109.8,799.0,6.5,NaN,84.0,11.3,2.6,59.9,2.8,4.3564,8.4

In [17]:
len(fragile_index)

178

In [323]:
all_ = []
for data in data_copy: 
    grouped = data.groupby(['Series'])
    for feature in data.Series.unique():
        frame = grouped.get_group(feature)
        wide = frame[frame.Year == 2015].loc[:, idx['Series', 'Value', 'Unnamed: 1']]
        wide.Value.replace(to_replace = ',', value= '_', regex = True, inplace = True) 
        wide.Value = wide.Value.astype(dtype = 'float64')
        pivot = pd.pivot_table(wide, columns='Series', index='Unnamed: 1').Value.reset_index()
        all_.append(pivot)

In [317]:
data_copy[8].Series.unique()

array(['Current expenditure other than staff compensation as % of total expenditure in public institutions (%)',
       'All staff compensation as % of total expenditure in public institutions (%)',
       'Capital expenditure as % of total expenditure in public institutions (%)',
       'Expenditure by level of education: primary (as % of government expenditure)',
       'Expenditure by level of education: secondary (as % of government expenditure)',
       'Expenditure by level of education: tertiary (as % of government expenditure)',
       'Public expenditure on education (% of government expenditure)',
       'Public expenditure on education (% of GDP)',
       'Expenditure by level of education: pre-primary (as % of government expenditure)'],
      dtype=object)

In [328]:
all_[30]

Series,Unnamed: 1,Net official development assistance to developing countries and multilateral organizations (as % of GNI)
0,Australia,0.29
1,Austria,0.35
2,Azerbaijan,0.02
3,Belgium,0.42
4,Bulgaria,0.09
5,Canada,0.28
6,Croatia,0.09
7,Cyprus,0.09
8,Czechia,0.12
9,DAC total,0.30
10,Denmark,0.85
11,Estonia,0.15
12,Finland,0.55
13,France,0.37
14,Germany,0.52
15,Greece,0.12
16,Hungary,0.13
17,Iceland,0.24
18,Ireland,0.32
19,Israel,0.08
20,Italy,0.22
21,Japan,0.20
22,Kazakhstan,0.02
23,Latvia,0.09
24,Lithuania,0.12
25,Luxembourg,0.95
26,Malta,0.17
27,Netherlands,0.75
28,New Zealand,0.27
29,Norway,1.05
30,Other non-specified areas,0.05
31,Poland,0.10
32,Portugal,0.16
33,Republic of Korea,0.14
34,Romania,0.09
35,Russian Federation,0.09
36,Slovakia,0.10
37,Slovenia,0.15
38,Spain,0.12
39,Sweden,1.40
40,Switzerland,0.51
41,Thailand,0.02
42,Turkey,0.50
43,United Arab Emirates,1.18
44,United Kingdom,0.70
45,United States of America,0.17

In [258]:
data_copy = [pd.read_csv(file, encoding = 'ISO-8859-1', header=1) for file in files]

In [286]:
grouped = data_copy[1].groupby(['Series'])

In [287]:
grouped.groups.keys()

dict_keys(['GDP in constant 2010 prices (millions of US dollars)', 'GDP in current prices (millions of US dollars)', 'GDP per capita (US dollars)', 'GDP real rates of growth (percent)'])

In [290]:
gdp = grouped.get_group('GDP in constant 2010 prices (millions of US dollars)')

In [301]:
wide = gdp[gdp.Year == 2015].loc[:, idx['Series', 'Value', 'Unnamed: 1']]

In [305]:
wide.Value.replace(to_replace = ',', value= '_', regex = True, inplace = True) 
wide.Value = wide.Value.astype(dtype = 'float64')
    
pd.pivot_table(wide, columns='Series', index='Unnamed: 1').Value.reset_index()

Series,Unnamed: 1,GDP in constant 2010 prices (millions of US dollars)
0,Afghanistan,20890.0
1,Africa,2290892.0
2,Albania,13033.0
3,Algeria,189797.0
4,Americas,24436405.0
5,Andorra,3258.0
6,Angola,104520.0
7,Anguilla,281.0
8,Antigua and Barbuda,1270.0
9,Argentina,458903.0
10,Armenia,12236.0
11,Aruba,2554.0
12,Asia,26343440.0
13,Australia,1493121.0
14,Australia and New Zealand,1663631.0
15,Austria,413555.0
16,Azerbaijan,58515.0
17,Bahamas,9967.0
18,Bahrain,30781.0
19,Bangladesh,155582.0
20,Barbados,4448.0
21,Belarus,60712.0
22,Belgium,509186.0
23,Belize,1611.0
24,Benin,9108.0
25,Bermuda,5244.0
26,Bhutan,2069.0
27,Bolivia (Plurin. State of),25664.0
28,Bosnia and Herzegovina,18351.0
29,Botswana,16146.0
...,...,...
212,Tajikistan,7547.0
213,Thailand,394078.0
214,Timor-Leste,3734.0
215,Togo,4616.0
216,Tonga,398.0
217,"Total, all countries or areas",75839510.0
218,Trinidad and Tobago,22784.0
219,Tunisia,47587.0
220,Turkey,1087840.0
221,Turkmenistan,37230.0
222,Turks and Caicos Islands,802.0
223,Tuvalu,38.0
224,Uganda,24893.0
225,Ukraine,121203.0
226,United Arab Emirates,373073.0
227,United Kingdom,2719581.0
228,United Rep. of Tanzania,43307.0
229,United States of America,16710458.0
230,Uruguay,47559.0
231,Uzbekistan,58274.0
232,Vanuatu,754.0
233,Venezuela (Boliv. Rep. of),395794.0
234,Viet Nam,154509.0
235,Western Africa,650950.0
236,Western Asia,3253100.0
237,Western Europe,9012149.0
238,Yemen,17313.0
239,Zambia,26058.0
240,Zanzibar,1044.0
241,Zimbabwe,14728.0

In [270]:
data_copy[0].Series.unique()[0]

'Consumer price index: General'

In [283]:
data_copy[0].head()

,Region/Country/Area,Unnamed: 1,Year,Series,Value,Footnotes,Source
0,4,Afghanistan,2005,Consumer price index: General,71.1,NaN,"United Nations Statistics Division (UNSD), New..."
1,4,Afghanistan,2010,Consumer price index: General,100,NaN,"United Nations Statistics Division (UNSD), New..."
2,4,Afghanistan,2014,Consumer price index: General,133.1,NaN,"United Nations Statistics Division (UNSD), New..."
3,4,Afghanistan,2015,Consumer price index: General,132.1,NaN,"United Nations Statistics Division (UNSD), New..."
4,4,Afghanistan,2016,Consumer price index: General,137.9,NaN,"United Nations Statistics Division (UNSD), New..."